<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Digital Hard</title>
  </head>
  <body>
    <!-- HEADER - INICIO-->
    <header>
      <div class="nav-top">
        <div class="box box-burger-nav">
          <i class="fas fa-bars icon-bars" id="icon-bars"></i>
        </div>
        <div class="box box-logo">
          <a href="/" class="logo"
            ><img src="/images/digital-hard-logo-white.png" alt="Logo"
          /></a>
          <a href="/" class="logo-text">
            <img src="/images/digital-hard-large-logo-white.png" alt="" />
          </a>
        </div>
        <div class="box box-search" id="box-search">
          <i class="fa-solid fa-magnifying-glass" id="search-active"></i>
          <form action="" class="search-form">
            <input type="text" placeholder="Buscar productos..." />
          </form>
          <i class="fas fa-times close-search" id="close-search"></i>
        </div>
        <div class="box box-user">
          <a href="/cart" class="cart-link">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
          <div class="user" id="user-dropdown">
            <div class="user-icon">
              <img src="/images/default.png" alt="Imagen de usuario" />
            </div>
            <i class="fas fa-chevron-down arrow"></i>
            <ul id="client-dropdown">
              <li>
                <a href="/login"
                  ><i class="fa-solid fa-user"></i>Iniciar sesion</a
                >
              </li>
              <li>
                <a href="/register"
                  ><i class="fas fa-sign-in-alt"></i>Registrarse</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <nav id="navbar">
        <ul>
          <li>
            <a href="/product-list">Productos</a
            ><i class="fas fa-chevron-down arrow" id="product-dropdown"></i>
            <ul class="category-list" id="categoty-dropdown">
              <li><a href="/product-list">Equipos y notebooks</a></li>
              <li><a href="/product-list">Procesadores</a></li>
              <li><a href="/product-list">Mothers</a></li>
              <li><a href="/product-list">Placas de video</a></li>
              <li><a href="/product-list">Memorias RAM</a></li>
              <li><a href="/product-list">Almacenamiento</a></li>
              <li><a href="/product-list">Refrigeración</a></li>
              <li><a href="/product-list">Gabinetes</a></li>
              <li><a href="/product-list">Fuentes</a></li>
              <li><a href="/product-list">Perifericos</a></li>
              <li><a href="/product-list">Sillas gamers</a></li>
              <li><a href="/product-list">Conectividad</a></li>
              <li><a href="/product-list">Estabilizadores y UPS</a></li>
              <li><a href="/product-list">Cables y adaptadores</a></li>
            </ul>
          </li>
          <li>
            <a href="/build">Arma tu PC</a>
          </li>
          <li><a href="/product-list">Promociones</a></li>
          <li><a href="/help">Ayuda</a></li>
        </ul>
      </nav>
    </header>
    <!-- HEADER - FIN-->

    <!-- CONTENIDO - INICIO -->
    <section>
      <div class="cart-container">
        <div class="product">
          <h3><i class="fas fa-cart-shopping"></i> Resumen de compra</h3>

          <div class="table-item">
            <img src="/images/default-product.jpg" alt="Producto" />
            <p>Producto</p>
            <p>$1,990.89</p>
            <p>1</p>
            <p>$1,990.89</p>
            <i class="fas fa-trash"></i>
          </div>

          <div class="table-item">
            <img src="/images/default-product.jpg" alt="Producto" />
            <p>Producto</p>
            <p>$8,590.00</p>
            <p>2</p>
            <p>$17,180.00</p>
            <i class="fas fa-trash"></i>
          </div>

          <div class="table-item">
            <img src="/images/default-product.jpg" alt="Producto" />
            <p>Producto</p>
            <p>$7,890.40</p>
            <p>3</p>
            <p>$23,671.20</p>
            <i class="fas fa-trash"></i>
          </div>
        </div>

        <div class="summary-container">
          <div class="summary">
            <p><i class="far fa-clipboard"></i> Resumen</p>
          </div>

          <div class="discount-summary">
            <div class="subtotal">
              <p>Subtotal</p>
              <p>$42,842.09</p>
            </div>
            <div class="discount">
              <p>Descuento</p>
              <p>$1,200.80</p>
            </div>
          </div>

          <br />

          <div class="cart-summary">
            <div class="total">
              <p>Total</p>
              <p>$41,641.29</p>
            </div>
            <button id="checkout-button">Proceder al pago</button>
          </div>
        </div>
      </div>
    </section>
    <!-- CONTENIDO - FINAL -->

    <!-- FOOTER - INICIO -->
    <footer>
      <div class="logo-footer">
        <a href="/"
          ><img src="/images/digital-hard-large-logo-white.png" alt=""
        /></a>
      </div>
      <div class="middle-footer">
        <section class="box link-footer left-footer">
          <div class="child-left-footer">
            <h4 class="title"><a href="/help">Ayuda</a></h4>
            <ul>
              <li><a href="/help#quienes-somos">Quienes somos</a></li>
              <li><a href="/help#politicas">Politicas de privacidad</a></li>
              <li><a href="/help#terminos">Términos y condiciones</a></li>
              <li>
                <a href="/help#arrepentimiento">Botón de arrepentimiento</a>
              </li>
            </ul>
          </div>
        </section>
        <section class="box">
          <h4 class="title">Subcribite a nuestro Newsleetter</h4>
          <form action="/">
            <div class="text-submit">
              <i class="far fa-envelope"></i>
              <input type="email" placeholder="Correo electrónico" />
            </div>
            <button type="submit">Suscribirse</button>
          </form>
          <div class="social">
            <a href="https://www.facebook.com/?" target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://twitter.com/" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </div>
        </section>
        <section class="box link-footer">
          <h4 class="title">Atención al cliente</h4>
          <ul>
            <li><i class="fas fa-phone-alt"></i><span>3425123456</span></li>
            <li>
              <i class="fas fa-envelope"></i
              ><span>contacto@digitalhard.com.ar</span>
            </li>
            <li><i class="fab fa-whatsapp"></i><span>3425123456</span></li>
          </ul>
        </section>
      </div>
      <a href="/help" class="help-link">
        <span>Ayuda</span>
        <i class="fas fa-chevron-right"></i>
      </a>
      <div class="registered-mark">
        <p>© 2023 Digital Hard.</p>
      </div>
    </footer>
  </body>
</html>
