<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Metrophobic&family=Montserrat:wght@100;200;300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/help.css" />
    <title>Digital Hard</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <!-- CONTENIDO -->

    <main class="help">
      <h2>Ayuda</h2>
      <section class="box color" id="quienes-somos">
        <div class="content">
          <h3>Quienes somos</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            nemo doloribus debitis delectus a officia possimus eum similique non
            provident voluptates, accusamus explicabo optio maiores autem quidem
            obcaecati ducimus ex. Fugiat id cupiditate soluta. Laboriosam,
            pariatur? Modi commodi enim reprehenderit molestias, odio
            necessitatibus minus harum dolorum, libero dolor unde eos soluta
            vel, ex eius dolore rem quis! Vitae, est nobis? Reiciendis laborum
            odio excepturi, nam aliquam quas nostrum necessitatibus ut assumenda
            voluptates rem eveniet consequatur architecto, possimus quaerat, non
            esse itaque optio ea voluptate velit. Neque sapiente voluptates quae
            quis? Et assumenda pariatur autem, placeat possimus eius quo
            corrupti facilis suscipit perspiciatis? Corporis dolorem error,
            incidunt iste illo harum aliquid laborum quis! Sapiente voluptatem
            perspiciatis temporibus, veritatis hic fugiat debitis? Doloribus
            ducimus et rem, quod, repudiandae, illo aspernatur eum placeat
            dolores cumque id illum distinctio amet praesentium. Esse ipsum
            porro nemo suscipit id, cumque reiciendis placeat dolor quaerat at!
            Non.
          </p>
        </div>
      </section>
      <section class="box" id="politicas">
        <div class="content">
          <h3>Politicas de privacidad</h3>
          <article>
            <h4>Lorem ipsum dolor sit amet consectetur.</h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptates, animi quod natus temporibus iste excepturi eos, sunt
              libero mollitia vitae vero, maiores eveniet. Quo quia cumque,
              eaque doloribus laudantium cupiditate!
            </p>
          </article>
          <article>
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dignissimos a repudiandae, magni modi esse eius. Harum, mollitia
              doloribus. Fugiat exercitationem temporibus voluptatum ab
              excepturi sed consectetur repudiandae, quia pariatur distinctio.
            </p>
          </article>
          <article>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo
              necessitatibus doloremque, asperiores neque praesentium a
              quibusdam sapiente dolor iste debitis qui rem modi consequatur,
              deleniti porro est dolore. Dolore, quas! Impedit ut recusandae
              voluptas, ipsa nobis nisi culpa asperiores eos corrupti, nam,
              doloremque eveniet. Impedit possimus quam, suscipit dolor illo
              laudantium ipsum veritatis incidunt laboriosam beatae, sunt culpa
              nihil amet!
            </p>
          </article>
          <article>
            <h4>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur, tenetur?
            </h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo
              necessitatibus doloremque, asperiores neque praesentium a
              quibusdam sapiente dolor iste debitis qui rem modi consequatur,
              deleniti porro est dolore. Dolore, quas! Impedit ut recusandae
              voluptas, ipsa nobis nisi culpa asperiores eos corrupti, nam,
              doloremque eveniet. Impedit possimus quam, suscipit dolor illo
              laudantium ipsum veritatis incidunt laboriosam beatae, sunt culpa
              nihil amet!
            </p>
          </article>
        </div>
      </section>
      <section class="box color" id="terminos">
        <div class="content">
          <h3>Términos y condiciones</h3>
          <ol>
            <li>
              <article>
                <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Voluptates, animi quod natus temporibus iste excepturi eos,
                  sunt libero mollitia vitae vero, maiores eveniet. Quo quia
                  cumque, eaque doloribus laudantium cupiditate!
                </p>
              </article>
            </li>
            <li>
              <article>
                <h4>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Consectetur, tenetur?
                </h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo
                  necessitatibus doloremque, asperiores neque praesentium a
                  quibusdam sapiente dolor iste debitis qui rem modi
                  consequatur, deleniti porro est dolore. Dolore, quas! Impedit
                  ut recusandae voluptas, ipsa nobis nisi culpa asperiores eos
                  corrupti, nam, doloremque eveniet. Impedit possimus quam,
                  suscipit dolor illo laudantium ipsum veritatis incidunt
                  laboriosam beatae, sunt culpa nihil amet!
                </p>
              </article>
            </li>
            <li>
              <article>
                <h4>Lorem ipsum dolor sit amet.</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dignissimos a repudiandae, magni modi esse eius. Harum,
                  mollitia doloribus. Fugiat exercitationem temporibus
                  voluptatum ab excepturi sed consectetur repudiandae, quia
                  pariatur distinctio.
                </p>
              </article>
            </li>
            <li>
              <article>
                <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Voluptates, animi quod natus temporibus iste excepturi eos,
                  sunt libero mollitia vitae vero, maiores eveniet. Quo quia
                  cumque, eaque doloribus laudantium cupiditate!
                </p>
              </article>
            </li>
            <li>
              <article>
                <h4>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Consectetur, tenetur?
                </h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo
                  necessitatibus doloremque, asperiores neque praesentium a
                  quibusdam sapiente dolor iste debitis qui rem modi
                  consequatur, deleniti porro est dolore. Dolore, quas! Impedit
                  ut recusandae voluptas, ipsa nobis nisi culpa asperiores eos
                  corrupti, nam, doloremque eveniet. Impedit possimus quam,
                  suscipit dolor illo laudantium ipsum veritatis incidunt
                  laboriosam beatae, sunt culpa nihil amet!
                </p>
              </article>
            </li>
          </ol>
        </div>
      </section>
      <section class="box" id="arrepentimiento">
        <div class="content">
          <h3>Botón de arrepentimiento</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nemo
            suscipit, magni beatae ea accusamus incidunt quas ipsum perspiciatis
            saepe. Non at praesentium quia commodi. Atque aspernatur tempore
            ullam voluptates. Unde inventore voluptate pariatur dolorum!
            Impedit, pariatur a! Cumque voluptatem libero vero sequi? Aspernatur
            quod tenetur, ut, autem doloremque vitae rerum sint aut tempora
            pariatur doloribus laudantium maxime numquam quisquam. Alias sed
            debitis tenetur, illo fuga ratione, ex necessitatibus nam eaque,
            similique quod voluptates. Voluptatum voluptate ipsam perferendis
            assumenda illum voluptates reprehenderit ducimus, facilis vel
            numquam molestiae nisi vero error.
          </p>
        </div>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>

  <script src="/js/index.js"></script>
</html>
