<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>

    <!-- CONTENIDO -->

    <main class="help">
      <section class="box" id="faq">
        <div class="content">
          <h2>Preguntas frecuentes (FAQ) - DigitalHard</h2>
      
          <p><strong>1. ¿Cuáles son los métodos de pago disponibles?</strong><br>
          Aceptamos tarjetas de crédito, débito, transferencias bancarias y pagos en efectivo.</p>
      
          <p><strong>2. ¿Cómo puedo hacer un seguimiento de mi compra?</strong><br>
          Accede a tu cuenta en nuestro sitio web para rastrear el estado de tu pedido o utiliza el número de seguimiento proporcionado en el correo electrónico de confirmación.</p>
      
          <p><strong>3. ¿Qué opciones de envío ofrecen?</strong><br>
          Ofrecemos diversas opciones de envío, desde estándar hasta express. Puedes seleccionar la que mejor se adapte a tus necesidades durante el proceso de compra.</p>
      
          <p><strong>4. ¿Cuál es la política de devoluciones y cambios?</strong><br>
          Si no estás satisfecho con tu compra, puedes devolver o cambiar el producto dentro de un plazo determinado. Consulta nuestra sección de políticas para obtener más detalles.</p>
      
          <p><strong>5. ¿Ofrecen garantía en sus productos?</strong><br>
          Sí, todos nuestros productos están respaldados por garantías. La duración puede variar según el artículo. Consulta la garantía específica de cada producto en la descripción del mismo.</p>
      
          <p><strong>6. ¿Cuál es el tiempo de entrega estimado?</strong><br>
          El tiempo de entrega depende del método de envío seleccionado y la ubicación. Te proporcionaremos una estimación durante el proceso de compra.</p>
      
          <p><strong>7. ¿Cómo contacto al servicio al cliente?</strong><br>
          Puedes contactarnos a través de nuestro correo electrónico <a href="mailto:contacto@digitalhard.com.ar">contacto@digitalhard.com.ar</a> o llamando al número <a href="tel:+543425123456">342-5123456</a> durante nuestros horarios de atención.</p>
        </div>
      </section>
      

      <section class="box color" id="quienes-somos">
        <div class="content">
          <h3>¿Quiénes Somos?</h3>
          <p>
            Somos DigitalHard, una firma comprometida con la excelencia en el ámbito de la tecnología 
            y productos electrónicos. Nos destacamos por ofrecer a nuestros clientes una experiencia 
            única al proporcionar productos de alta calidad y un servicio al cliente excepcional. Nos 
            esforzamos por ser líderes en la industria, brindando soluciones innovadoras para satisfacer
            las necesidades de entusiastas de la tecnología y gamers.
          </p>
        </div>
      </section>
      <section class="box" id="politicas">
        <div class="content">
          <h3>Políticas de Privacidad</h3>
          <article>
            <h4>Seguridad de la Información</h4>
            <p>
              En DigitalHard, nuestra prioridad es la seguridad de la información.
               Nos comprometemos a implementar las más altas medidas de seguridad para 
               garantizar la protección de los datos de nuestros clientes. Valoramos la
                confianza que depositan en nosotros al elegir nuestros productos.
            </p>
          </article>
          <article>
            <h4>Confidencialidad de la Información</h4>
            <p>
              En DigitalHard, entendemos la importancia de la privacidad. Nos comprometemos 
              a manejar la información de nuestros clientes con la máxima confidencialidad. 
              La seguridad y discreción en el manejo de sus datos son fundamentales para 
              nosotros, contribuyendo así a una experiencia de compra tranquila y confiable.
            </p>
          </article>
          <article>
            <h4>Uso Ético de la Información Personal</h4>
            <p>
              La privacidad es una prioridad en DigitalHard. Nos comprometemos 
              a utilizar la información personal de nuestros clientes de manera ética y 
              responsable. Garantizamos que la información se utilizará exclusivamente para 
              mejorar su experiencia de compra y no será compartida con terceros sin su 
              consentimiento.
            </p>
          </article>
          <article>
            <h4>
              Compromiso con la Privacidad del Cliente
            </h4>
            <p>
              En DigitalHard, estamos dedicados a proteger la privacidad de nuestros clientes. 
              Este compromiso se traduce en salvaguardar la información personal y utilizarla 
              exclusivamente con el propósito para el cual fue proporcionada. Valoramos la 
              confianza y trabajamos continuamente para mantener la integridad y seguridad de 
              los datos de nuestros clientes.
            </p>
          </article>
        </div>
      </section>
      <section class="box color" id="terminos">
        <div class="content">
          <h3>Términos y condiciones</h3>
          <ol>
            <li>
              <article>
                <h4>Aceptación de Términos y Condiciones</h4>
                <p>
                  Al acceder y utilizar nuestros servicios en DigitalHard, usted acepta los 
                  términos y condiciones aquí establecidos. Le instamos a revisar periódicamente
                   esta sección, ya que nos reservamos el derecho de realizar cambios en 
                   cualquier momento.
                </p>
              </article>
            </li>
            <li>
              <article>
                <h4>
                  Responsabilidad y Riesgos
                </h4>
                <p>
                  Garantizamos la transparencia y calidad en nuestro servicio, pero no nos 
                  hacemos responsables por posibles interrupciones o errores. Al utilizar 
                  nuestro sitio, usted acepta asumir cualquier riesgo relacionado con la pérdida
                   de datos o interrupciones temporales.
                </p>
              </article>
            </li>
            <li>
              <article>
                <h4>Información Precisa y Actualizada</h4>
                <p>
                  En DigitalHard, nos esforzamos por proporcionar información
                   precisa, aunque no garantizamos la exactitud y no nos hacemos
                    responsables de posibles errores tipográficos. Le recomendamos 
                    verificar la información antes de realizar cualquier compra.
                </p>
              </article>
            </li>
            <li>
              <article>
                <h4>Privacidad y Disputas Legales</h4>
                <p>
                  Comprometidos con la protección de su privacidad, nuestras prácticas se rigen 
                  por nuestras políticas de privacidad. Cualquier disputa que surja se regirá 
                  por las leyes de [jurisdicción], y usted acepta someterse a la jurisdicción
                   exclusiva de los tribunales.
                </p>
              </article>
            </li>
            <li>
              <article>
                <h4>
                  Cancelación y Modificación de Servicios
                </h4>
                <p>
                  En DigitalHard, nos reservamos el derecho de cancelar o modificar cualquier 
                  servicio o producto, así como de rechazar cualquier pedido. Le recomendamos 
                  ponerse en contacto con nuestro equipo de servicio al cliente antes de 
                  realizar una compra si tiene preguntas o inquietudes.
                </p>
              </article>
            </li>
          </ol>
        </div>
      </section>
      <section class="box" id="arrepentimiento">
        <div class="content">
          <h3>Botón de arrepentimiento</h3>
          <p>
            En DigitalHard, reconocemos que las circunstancias pueden cambiar, y por ello 
            ofrecemos un proceso de "Botón de Arrepentimiento" que le permite devolver productos
             y obtener un reembolso. Usted dispone de [número específico] días desde la recepción
              del producto para notificar su arrepentimiento. Para iniciar este proceso, simplemente
               contáctenos a través de nuestro servicio al cliente, proporcionando detalles de su pedido
                y el motivo de su decisión. Es importante tener en cuenta que el producto debe encontrarse
                 en condiciones originales, sin uso y con el empaque original. Los gastos de envío de la 
                 devolución corren por cuenta del cliente, a menos que el producto presente defectos de 
                 fábrica. Una vez recibido y evaluado el producto devuelto, procederemos con el reembolso,
                  cuyo tiempo de procesamiento puede variar según el método de pago utilizado. Algunos 
                  productos pueden no ser elegibles para el Botón de Arrepentimiento, y sus datos personales 
                  se manejarán con la máxima confidencialidad durante todo el proceso, de acuerdo con nuestras
                  políticas de privacidad. En DigitalHard, nos esforzamos por garantizar su satisfacción, brindando 
                  un proceso claro y justo para asegurar una experiencia positiva en cada compra.
          </p>
        </div>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>

  <script src="/js/index.js"></script>
</html>
