<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs',{styles}) %>
  <body>
    <div class="main-container">
      <div class="abarcaForm">
        <div class="logo-mobile">
          <img
            src="../images/digital-hard-large-logo-black.png"
            alt="Digital Hard Logo"
          />
        </div>
        <div class="form">
          <form action="/user/login" method="post" class="form-inner">
            <h2 id="title">Iniciar sesión</h2>
            <div class="inputs">
              <label for="txfEmail">Correo electrónico</label>
              <input
                type="email"
                id="txfEmail"
                name="email"
                placeholder="ejemplo@ejemplo.com"
                value="<%= locals.oldData?.email && oldData?.email %>"
              />
              <label for="txfPassword">Contraseña</label>
              <input
                type="password"
                id="txfPassword"
                name="password"
                placeholder="Escriba aquí su contraseña"
              />
              <% if (locals.errors) { %>
              <p class="error"><%= errors.email.msg %></p>
              <% }%>
              <div class="remember-forgot">
                <div class="remember">
                  <input
                    type="radio"
                    id="rdbremember"
                    name="remember"
                    value="remember"
                  />
                  <label for="rdbremember">Recordarme</label>
                </div>
                <div class="forgot">
                  <a href="#">Olvidé mi contraseña</a>
                </div>
              </div>
              <button type="submit" id="buttonSubmit">Iniciar sesión</button>
              <button type="button" id="googleLogin">
                <span class="material-icons">account_circle</span> Continua con
                Google
              </button>
            </div>
            <p class="signup-prompt">
              No tenés una cuenta?
              <a href="register" class="signup-link">Crear cuenta</a>
            </p>
          </form>
        </div>
      </div>

      <div class="info"></div>
    </div>
    <script src="js/loginValidation.js"></script>
  </body>
</html>
