:root {
  /* Colors */
  --color-principal: #080e1e;
  --color-secondary: #6f0d0d;
  --color-golden: #ffba49;
  --color-grey: #dee1e6;
  --color-white: #f8f9fa;

  /* font-family */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Metrophobic", sans-serif;
}

body {
  background-color: var(--color-white);
}
