<div class="product-card-container">
  <div class="product-card-media">
    <div class="product-card-img-container">
      <div class="product-card-img">
        <img src="<%= product.img[0] %>" alt="product" />
      </div>
    </div>
  </div>
  <div class="product-card-info">
    <h4 class="product-card-title"><%= product.name %></h4>
    <p class="product-card-price"><%= product.price %></p>
  </div>
  <p><i class="fas fa-info"></i></p>
  <div class="product-card-description"></div>
</div>
