<div class="table-item">
  <img src="/images/default-product.jpg" alt="Producto" />
  <p><%= product.name %></p>
  <p>$<%= product.price %></p>
  <p><%= product.amount %></p>
  <p>$<%= product.amount * product.price %></p>
  <i class="fas fa-trash"></i>
</div>
