<li class="component-img-container">
  <div class="component-img">
    <img src="images/components/procesador.png" alt="" />
  </div>
</li>
<li class="component-img-container">
  <div class="component-img">
    <img src="images/components/mother.png" alt="" />
  </div>
</li>
<li class="component-img-container">
  <div class="component-img">
    <img src="images/components/cooler.png" alt="" />
  </div>
</li>
<li class="component-img-container">
  <div class="component-img">
    <img src="images/components/ram.png" alt="" />
  </div>
</li>
<li class="component-img-container">
  <div class="component-img">
    <img src="images/components/gpu.png" alt="" />
  </div>
</li>
<li class="component-img-container">
  <div class="component-img">
    <img src="images/components/hhd.png" alt="" />
  </div>
</li>
<li class="component-img-container">
  <div class="component-img">
    <img src="images/components/poder.png" alt="" />
  </div>
</li>
<li class="component-img-container">
  <div class="component-img">
    <img src="images/components/gabinete.png" alt="" />
  </div>
</li>
<li class="component-img-container">
  <div class="component-img">
    <img src="images/components/monitor.png" alt="" />
  </div>
</li>
<li class="component-img-container">
  <div class="component-img">
    <img src="images/components/perifericos.png" alt="" />
  </div>
</li>
