<footer>
  <div class="logo-footer">
    <a href="/"
      ><img src="/images/digital-hard-large-logo-white.png" alt=""
    /></a>
  </div>
  <div class="middle-footer">
    <section class="box link-footer left-footer">
      <div class="child-left-footer">
        <h4 class="title"><a href="/help">Ayuda</a></h4>
        <ul>
          <li><a href="/help#quienes-somos">Quienes somos</a></li>
          <li><a href="/help#politicas">Politicas de privacidad</a></li>
          <li><a href="/help#terminos">Términos y condiciones</a></li>
          <li>
            <a href="/help#arrepentimiento">Botón de arrepentimiento</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="box">
      <h4 class="title">Subcribite a nuestro Newsleetter</h4>
      <form action="/">
        <div class="text-submit">
          <i class="far fa-envelope"></i>
          <input type="email" placeholder="Correo electrónico" />
        </div>
        <button type="submit">Suscribirse</button>
      </form>
      <div class="social">
        <a href="https://www.facebook.com/?" target="_blank"
          ><i class="fab fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://twitter.com/" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
    </section>
    <section class="box link-footer">
      <h4 class="title">Atención al cliente</h4>
      <ul>
        <li><i class="fas fa-phone-alt"></i><span>3425123456</span></li>
        <li>
          <i class="fas fa-envelope"></i
          ><span>contacto@digitalhard.com.ar</span>
        </li>
        <li><i class="fab fa-whatsapp"></i><span>3425123456</span></li>
      </ul>
    </section>
  </div>
  <a href="/help" class="help-link">
    <span>Ayuda</span>
    <i class="fas fa-chevron-right"></i>
  </a>
  <div class="registered-mark">
    <p>© 2024 Digital Hard.</p>
  </div>
</footer>
