<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% styles.forEach(style => { %>
  <link href="<%= style %>" rel="stylesheet" />
  <%});%>
  <title>Digital Hard</title>
</head>
