<header>
  <div class="nav-top">
    <div class="box box-burger-nav">
      <i class="fas fa-bars icon-bars" id="icon-bars"></i>
    </div>
    <div class="box box-logo">
      <a href="/" class="logo"
        ><img src="/images/digital-hard-logo-white.png" alt="Logo"
      /></a>
      <a href="/" class="logo-text">
        <img src="/images/digital-hard-large-logo-white.png" alt="" />
      </a>
    </div>
    <div class="box box-search" id="box-search">
      <i class="fa-solid fa-magnifying-glass" id="search-active"></i>
      <form action="/products" class="search-form">
        <input type="text" placeholder="Buscar productos..." />
      </form>
      <i class="fas fa-times close-search" id="close-search"></i>
    </div>
    <div class="box box-user">
      <a href="/cart" class="cart-link">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
      <div class="user" id="user-dropdown">
        <div class="user-icon">
          <img src=<%= locals.isLogged ?
          `/images/users/${locals.userLogged.dataValues.avatar}` :
          "/images/default.png" %> alt="Imagen de usuario" />
        </div>
        <i class="fas fa-chevron-down arrow" id="user-dropdown-arrow"></i>
        <ul id="client-dropdown">
          <% if(locals.isLogged) { %>
          <li>
            <a href="/user/profile"
              ><i class="fa-solid fa-user"></i>Mi perfil</a
            >
          </li>
          <li>
            <a href="/user/logout"
              ><i class="fas fa-sign-in-alt"></i>Cerrar sesión</a
            >
          </li>
          <% } else { %>
          <li>
            <a href="/user/login"
              ><i class="fa-solid fa-user"></i>Iniciar sesion</a
            >
          </li>
          <li>
            <a href="/user/register"
              ><i class="fas fa-sign-in-alt"></i>Registrarse</a
            >
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <nav id="navbar">
    <ul>
      <li>
        <a href="/products">Productos</a
        ><i class="fas fa-chevron-down arrow" id="product-dropdown"></i>
        <ul class="category-list" id="categoty-dropdown">
          <li><a href="/products">Equipos y notebooks</a></li>
          <li><a href="/products">Procesadores</a></li>
          <li><a href="/products">Mothers</a></li>
          <li><a href="/products">Placas de video</a></li>
          <li><a href="/products">Memorias RAM</a></li>
          <li><a href="/products">Almacenamiento</a></li>
          <li><a href="/products">Refrigeración</a></li>
          <li><a href="/products">Gabinetes</a></li>
          <li><a href="/products">Fuentes</a></li>
          <li><a href="/products">Perifericos</a></li>
          <li><a href="/products">Sillas gamers</a></li>
          <li><a href="/products">Conectividad</a></li>
          <li><a href="/products">Estabilizadores y UPS</a></li>
          <li><a href="/products">Cables y adaptadores</a></li>
        </ul>
      </li>
      <li>
        <a href="/build">Arma tu PC</a>
      </li>
      <li><a href="/products">Promociones</a></li>
      <li><a href="/help">Ayuda</a></li>
    </ul>
  </nav>
</header>
